ipykernel
pypdfium2==4.30.1
pandas==2.2.3
huggingface_hub[hf_transfer]==0.27.1
datasets==3.2.0
ipywidgets==8.1.5
tqdm==4.67.1
genson
beautifulsoup4
requests
dataclasses-json
git+https://github.com/huggingface/accelerate.git@v1.7.0
ms-swift@git+https://github.com/modelscope/ms-swift.git@v3.5.3
git+https://github.com/huggingface/transformers@v4.52.4
av
qwen_vl_utils==0.0.11
decord
optimum
tensorboardX
tensorboard
google-cloud-aiplatform
google-cloud-storage
ms-swift==3.2.2

pydantic==2.10.0 
pydantic-core==2.27.0
matplotlib==3.8.4 